@import "./ress";
@import "./var";

html {
    font-size: 62.5%;
    scroll-padding-top: 90px;
}

body {
    font-family: $font-jp-sans;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    color: $color-black;
    background-color: $default-color;
    font-size: #{(16 / 10)}rem;
}

img {
    max-width: 100%;
}

img[src$=".svg"] {
    width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

// header
.header {
    width: 100%;
    //height: #{(110 / 10)}rem;
    height: #{(90 / 10)}rem;
    background: $color-white;
    position: sticky;
    top: 0;
    left: 0;
    padding: #{(13 / 10)}rem #{(40 / 10)}rem 0;
    z-index: 3000;
    margin: #{(5 / 10)}rem 0 #{(5 / 10)}rem;

    /*@at-root .small-header & {
		height: #{(90 / 10)}rem;
		padding: #{(18 / 10)}rem 0 0;
	}*/

    &__inner {
        width: 1024px;
        margin: 0 auto;
        position: relative;
    }
    &__logo {
        position: absolute;
        margin-top: #{(16 / 10)}rem;
    }
    &__gnav {
        position: absolute;
        display: flex;
        margin-left: #{(220 / 10)}rem;
        margin-top: #{(20 / 10)}rem;
        font-family: $font-jp-serif;
        li {
            display: inline-block;
            list-style: none;
            padding-right: #{(20 / 10)}rem;
            &:last-child {
                padding-right: 0;
            }
            a {
                display: block;
                padding: 0.4rem 1rem;
                border-radius: 12px;
                &:hover {
                    opacity: 0.8;
                    transition: 0.3s;
                    background-color: $color-light-gray2;
                }
            }
        }
    }
    &__subnav {
        position: absolute;
        display: flex;
        width: 240px;
        justify-content: right;
        margin-top: #{(24 / 10)}rem;
        right: 0;
        li {
            display: inline-block;
            list-style: none;
            padding-left: #{(20 / 10)}rem;
            &:last-child {
                // padding-left: 0;
            }
        }
        img {
            width: 24px;
            &:hover {
                opacity: 0.8;
                transition: 0.3s;
            }
        }
    }
}

// top-contents
.block {
    padding-bottom: #{(80 / 10)}rem;
    &.mv {
        width: 100%;
        height: 640px;
        margin: 0 auto;
        padding-bottom: #{(80 / 10)}rem;
        // position: relative;
        .txt {
            width: 100%;
            position: absolute;
            z-index: 200;
            top: calc(100% / 3);
            .contents {
                // width: 1024px;
                margin: 0 auto;
                position: absolute;
                left: 2vw;
                font-family: $font-jp-serif;
                span {
                    display: block;
                }
                .month {
                    font-size: #{(20 / 10)}rem;
                    display: block;
                }
                .tl {
                    // position: absolute;
                    margin-top: #{(-10 / 10)}rem;
                    margin-left: #{(-4 / 10)}rem;
                    mix-blend-mode: overlay; /* オーバーレイを指定 */
                    color: $color-black;
                    font-size: #{(64 / 10)}rem;
                    display: block;
                    mix-blend-mode: overlay; /* オーバーレイを指定 */
                }
                .txt {
                    padding-top: #{(32 / 10)}rem;
                    font-size: #{(16 / 10)}rem;
                }
                button {
                    display: block;
                    margin-top: #{(56 / 10)}rem;
                    border-radius: 9999px;
                    border: 1px solid $color-black;
                    font-family: $font-jp-serif;
                    padding: 0.4rem 4rem;
                    &:hover {
                        background: $color-light-gray2;
                        transition: 0.3s;
                    }
                }
            }
        }
        .swiper {
            position: absolute;
            max-width: 1041px;
            width: 80%;
            height: auto;
            // width: calc(70%);
            // height: 400px;
            // height: auto;
            right: 0;
            z-index: 100;
        }
    }
    &.feature {
    }
    &.news {
        .inner {
            width: 1024px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            .news__head {
                width: 260px;
                border-right: 1px solid $color-black;
                .tl {
                    font-family: $font-jp-serif;
                    font-size: 4.4rem;
                    line-height: 1;
                    margin-bottom: 2rem;
                }
                button {
                    display: block;
                    border-radius: 9999px;
                    border: 1px solid $color-black;
                    font-family: $font-jp-serif;
                    padding: 0.4rem 4rem;
                    &:hover {
                        background: $color-light-gray2;
                        transition: 0.3s;
                    }
                }
            }
            .nesw__list {
                width: calc(1024px - 284px);
                display: block;
                border-left: 1px solid $color-black;
            }
            li {
                margin-bottom: 2.4rem;
                &:first-child {
                    margin-top: 0rem;
                }
                &:last-child {
                    margin-bottom: 0rem;
                }
                .date {
                    padding: 0 2.4rem;
                }
                a {
                    padding: 0.4rem 1rem;
                    border-radius: 12px;
                    &:hover {
                        opacity: 0.8;
                        transition: 0.3s;
                        background-color: $color-light-gray2;
                    }
                }
            }
        }
    }
    &.items {
        width: 100%;
        border-bottom: 1px solid $color-black;
        border-top: 1px solid $color-black;
        h2 {
            font-family: $font-jp-serif;
            text-align: center;
            padding: #{(64 / 10)}rem 0;
        }
        .inner {
            width: 1024px;
            margin: 0 auto;
            display: flex;
            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: 240px;
                    height: 320px;
                    object-fit: cover;
                    position: relative;
                }
                span {
                    text-align: center;
                    padding: #{(4 / 10)}rem 0 #{(24 / 10)}rem;
                }
                button {
                    display: block;
                    border-radius: 9999px;
                    border: 1px solid $color-black;
                    padding: 0.4rem 4rem;
                    font-family: $font-jp-serif;
                    &:hover {
                        background: $color-light-gray2;
                        transition: 0.3s;
                    }
                }
            }
        }
    }
    &.sns {
        h2 {
            width: 100%;
            img {
                width: 283px;
                display: block;
                text-align: center;
            }
        }
        .inner {
            display: flex;
        }
    }
    &.store {
    }
}

// footer
.footer {
    &__inner {
        color: red;
    }
}

.circle {
    width: 240px;
    height: 320px;
    clip-path: inset(0 0 round 9999px 9999px 9999px 9999px);
    object-fit: cover;
    position: relative;
}

// lenis
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}
