@import "./ress";
@import "./var";

html {
    font-size: 62.5%;
    scroll-padding-top: 90px;
}

body {
    font-family: $font-jp-sans;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    color: $color-black;
    background-color: $default-color;
    font-size: #{(16 / 10)}rem;
    font-feature-settings: "palt";
    /* 文字が詰まりすぎるのを緩和するためにletter-spacingを設定 */
    letter-spacing: 0.05em;
    // #content{
    //     opacity: 0;
    //     visibility: hidden;
    // }
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

img[src$=".svg"] {
    width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

.mv{
    width: 100%;
    img{
        height: 580px;
        object-fit: cover;
    }
}

// header
.header {
    width: 100%;
    //height: #{(110 / 10)}rem;
    height: #{(90 / 10)}rem;
    background: $color-white;
    position: sticky;
    // background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    padding: 20px;
    top: 0;
    left: 0;
    padding: #{(22 / 10)}rem #{(40 / 10)}rem 0;
    z-index: 3000;
    // margin: #{(5 / 10)}rem 0 #{(5 / 10)}rem;

    /*@at-root .small-header & {
		height: #{(90 / 10)}rem;
		padding: #{(18 / 10)}rem 0 0;
	}*/

    &__inner {
        width: 1024px;
        margin: 0 auto;
        position: relative;
    }
    &__logo {
        position: absolute;
        width: 200px;
        margin-top: -#{(16 / 10)}rem;
        margin-left: -#{(4 / 10)}rem;
    }
    &__gnav {
        display: flex;
        font-family: $font-jp-sans;
        font-weight: 600;
        justify-content: right;
        ul {
            display: flex;
            gap: 24px;
        }
        li {
            // display: inline-block;
            list-style: none;
            padding-right: #{(12 / 10)}rem;
            margin-top: #{(8 / 10)}rem;
            &:last-child {
                padding-right: 0;
            }
            a {
                padding-bottom: 3px; /* テキストと下線の間隔 */
                background-image: linear-gradient(#000, #000);
                background-repeat: no-repeat;
                background-position: bottom right; /* 下線の初期位置 */
                background-size: 0 1px; /* 下線のサイズ（横幅、高さ） */
                transition: background-size 0.3s;
                &:hover {
                    background-position: bottom left; /* 下線のホバー時位置 */
                    background-size: 100% 1px; /* 下線の横幅を100%にする */
                }
            }
        }
    }
}

.mv {
    margin-bottom: 120px;
}

.about {
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 120px;
    .about__me {
        display: flex;
        gap: 56px;
        .about__img {
            width: 50%;
        }
        .about__txt {
            width: 50%;
            align-self: center;
            line-height: 1.6;
            p {
                margin-bottom: 24px;
            }
        }
    }
    .about__skills {
        display: flex;
        gap: 56px;
        margin-top: 56px;
        .inner {
            display: flex;
            flex-direction: column;
            img {
                height: 40px;
            }
            .skills__ttl {
                text-align: center;
                em {
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 600;
                    display: block;
                }
                span {
                    font-size: 1.4rem;
                }
                margin-bottom: 24px;
            }
            p {
                line-height: 1.6;
            }
        }
    }
}

.ttl {
    text-align: center;
    font-size: 3.2rem;
    margin-bottom: 40px;
    font-weight: 600;
}

.works {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 80px;
    .works__inner {
        width: 320px;
        margin-bottom: 40px;
        img {
            width: 320px;
        }
        a {
            display: block;
            margin-bottom: 24px;
            &:hover{
                opacity: .6;
                transition: .3s;
            }
        }
        em {
            display: block;
            font-style: normal;
            font-weight: 600;
            font-size: 1.8rem;
            margin-bottom: 8px;
        }
        p {
            font-size: 1.4rem;
            line-height: 1.2;
            display: inline-block;
            margin-top: 8px;
            a{
                margin-bottom: 0px !important;
            }
        }
    }
}

.contact{
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
    span{
        display: block;
        position: relative;
        margin-left: 16px;
        &:before{
            content: url("https://portfolio-mori.netlify.app/images/global/icon _email.svg");
            width: 5px;
            height: 5px;
            position: absolute;
            margin-left: -28px;
            margin-top: 2px;
        }
    }
}

// footer
.footer {
    width: 100%;
    border-radius: 40px;
    color: $color-black;
    padding: #{(88 / 10)}rem 0 #{(72 / 10)}rem;
    .inner {
        width: 1024px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        ul {
            display: flex;
            gap: 24px;
            li {
                list-style: none;
                padding-right: #{(12 / 10)}rem;
                font-size: #{(14 / 10)}rem;
                font-weight: 600;
                &:last-child {
                    padding-right: 0;
                }
                a {
                    padding-bottom: 3px; /* テキストと下線の間隔 */
                    background-image: linear-gradient(#000, #000);
                    background-repeat: no-repeat;
                    background-position: bottom right; /* 下線の初期位置 */
                    background-size: 0 1px; /* 下線のサイズ（横幅、高さ） */
                    transition: background-size 0.3s;
                    &:hover {
                        background-position: bottom left; /* 下線のホバー時位置 */
                        background-size: 100% 1px; /* 下線の横幅を100%にする */
                    }
                }
            }
        }
        small{
            font-size: #{(16 / 10)}rem;
            font-weight: 600;
        }
    }
}

// lenis
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}
