@charset "UTF-8";
/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

/*
regular 400
medium 500
*/
/*
regular 400
medium 500
semi-bold 600
*/
html {
  font-size: 62.5%;
  scroll-padding-top: 90px;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #333;
  background-color: #F8F8F8;
  font-size: 1.6rem;
  font-feature-settings: "palt";
  /* 文字が詰まりすぎるのを緩和するためにletter-spacingを設定 */
  letter-spacing: 0.05em;
}

img {
  max-width: 100%;
}

img[src$=".svg"] {
  width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 9rem;
  background: #f8f8f8;
  position: -webkit-sticky;
  position: sticky;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding: 20px;
  top: 0;
  left: 0;
  padding: 2.2rem 4rem 0;
  z-index: 3000;
  /*@at-root .small-header & {
  	height: 9rem;
  	padding: 1.8rem 0 0;
  }*/
}
.header__inner {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}
.header__logo {
  position: absolute;
  width: 200px;
  margin-top: -1.6rem;
}
.header__gnav {
  display: flex;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  justify-content: right;
}
.header__gnav ul {
  display: flex;
  gap: 24px;
}
.header__gnav li {
  list-style: none;
  padding-right: 1.2rem;
  margin-top: 0.8rem;
}
.header__gnav li:last-child {
  padding-right: 0;
}
.header__gnav li a {
  padding-bottom: 3px; /* テキストと下線の間隔 */
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  background-position: bottom right; /* 下線の初期位置 */
  background-size: 0 1px; /* 下線のサイズ（横幅、高さ） */
  transition: background-size 0.3s;
}
.header__gnav li a:hover {
  background-position: bottom left; /* 下線のホバー時位置 */
  background-size: 100% 1px; /* 下線の横幅を100%にする */
}

.mv {
  margin-bottom: 120px;
}

.about {
  width: 1024px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.about .about__me {
  display: flex;
  gap: 56px;
}
.about .about__me .about__img {
  width: 50%;
}
.about .about__me .about__txt {
  width: 50%;
  align-self: center;
  line-height: 1.6;
}
.about .about__me .about__txt p {
  margin-bottom: 24px;
}
.about .about__skills {
  display: flex;
  gap: 56px;
  margin-top: 56px;
}
.about .about__skills .inner {
  display: flex;
  flex-direction: column;
}
.about .about__skills .inner img {
  height: 64px;
}
.about .about__skills .inner .ttl {
  text-align: center;
  margin-bottom: 24px;
}
.about .about__skills .inner .ttl em {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  display: block;
}
.about .about__skills .inner .ttl span {
  font-size: 1.8rem;
}
.about .about__skills .inner p {
  line-height: 1.6;
}

.ttl {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 40px;
  font-weight: 600;
}

.works {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 80px;
}
.works .works__inner {
  width: 320px;
  margin-bottom: 40px;
}
.works .works__inner img {
  width: 320px;
}
.works .works__inner a {
  display: block;
  margin-bottom: 24px;
}
.works .works__inner a:hover {
  opacity: 0.6;
  transition: 0.3s;
}
.works .works__inner em {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 8px;
}
.works .works__inner p {
  font-size: 1.4rem;
  line-height: 1;
}
.works .works__inner p a {
  margin-bottom: 0px !important;
}

.contact {
  text-align: center;
  font-weight: 600;
  margin-bottom: 40px;
}
.contact span {
  display: block;
  position: relative;
  margin-left: 16px;
}
.contact span:before {
  content: url("https://portfolio-mori.netlify.app/images/global/icon _email.svg");
  width: 5px;
  height: 5px;
  position: absolute;
  margin-left: -28px;
  margin-top: 2px;
}

.footer {
  width: 100%;
  border-radius: 40px;
  color: #333;
  padding: 8.8rem 0 7.2rem;
}
.footer .inner {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer .inner ul {
  display: flex;
  gap: 24px;
}
.footer .inner ul li {
  list-style: none;
  padding-right: 1.2rem;
  font-size: 1.4rem;
  font-weight: 600;
}
.footer .inner ul li:last-child {
  padding-right: 0;
}
.footer .inner ul li a {
  padding-bottom: 3px; /* テキストと下線の間隔 */
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  background-position: bottom right; /* 下線の初期位置 */
  background-size: 0 1px; /* 下線のサイズ（横幅、高さ） */
  transition: background-size 0.3s;
}
.footer .inner ul li a:hover {
  background-position: bottom left; /* 下線のホバー時位置 */
  background-size: 100% 1px; /* 下線の横幅を100%にする */
}
.footer .inner small {
  font-size: 1.6rem;
  font-weight: 600;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
/*# sourceMappingURL=global.css.map */