@charset "UTF-8";
/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

/*
regular 400
medium 500
*/
/*
regular 400
medium 500
semi-bold 600
*/
html {
  font-size: 62.5%;
  scroll-padding-top: 90px;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #333;
  background-color: #F8F8F8;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

img[src$=".svg"] {
  width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 11rem;
  background: #f8f8f8;
  position: -webkit-sticky;
  position: sticky;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding: 20px;
  top: 0;
  left: 0;
  padding: 2.2rem 4rem 0;
  z-index: 3000;
  /*@at-root .small-header & {
  	height: 9rem;
  	padding: 1.8rem 0 0;
  }*/
}
.header__inner {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}
.header__logo {
  position: absolute;
  margin-top: 1.6rem;
}
.header__gnav {
  position: absolute;
  display: flex;
  margin-left: 22rem;
  margin-top: 2rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
}
.header__gnav li {
  display: inline-block;
  list-style: none;
  padding-right: 2rem;
}
.header__gnav li:last-child {
  padding-right: 0;
}
.header__gnav li a {
  display: block;
  padding: 0.4rem 1rem;
  border-radius: 12px;
}
.header__gnav li a:hover {
  opacity: 0.8;
  transition: 0.3s;
  background-color: #eee;
}
.header__subnav {
  position: absolute;
  display: flex;
  width: 240px;
  justify-content: right;
  margin-top: 2.4rem;
  right: 0;
}
.header__subnav li {
  display: inline-block;
  list-style: none;
  padding-left: 2rem;
}
.header__subnav img {
  width: 24px;
}
.header__subnav img:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.block {
  padding-bottom: 8rem;
}
.block.mv {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  padding-top: 2.4rem;
  padding-bottom: 8rem;
}
.block.mv .txt {
  width: 100%;
  position: absolute;
  z-index: 200;
  top: 340px;
}
.block.mv .txt .contents {
  margin: 0 auto;
  position: absolute;
  left: 2vw;
  font-family: "Noto Serif JP", serif;
}
.block.mv .txt .contents span {
  display: block;
}
.block.mv .txt .contents .month {
  font-size: 2rem;
  display: block;
}
.block.mv .txt .contents .tl {
  margin-top: -1.6rem;
  margin-left: -0.4rem;
  mix-blend-mode: overlay; /* オーバーレイを指定 */
  color: #333;
  font-size: 5.6rem;
  display: block;
  mix-blend-mode: overlay; /* オーバーレイを指定 */
}
.block.mv .txt .contents .sub {
  padding-bottom: 2.4rem;
  font-size: 1.6rem;
}
.block.mv .txt .contents button {
  display: block;
  border-radius: 9999px;
  border: 1px solid #333;
  font-family: "Noto Serif JP", serif;
  padding: 0.4rem 4rem;
}
.block.mv .txt .contents button:hover {
  background: #eee;
  transition: 0.3s;
}
.block.mv .swiper {
  position: absolute;
  max-width: 1024px;
  width: 80%;
  height: auto;
  right: 0;
  z-index: 100;
}
.block.mv .swiper .swiper-slide {
  height: 640px;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
.block.mv .swiper .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover; /* IE: not support */
  width: 100%;
  height: 100%;
  border-radius: 4px 0 0 4px;
}
.block.feature {
  margin-top: 12rem;
}
.block.feature .slide-media,
.block.feature .thumb-media {
  position: relative;
  overflow: hidden;
}
.block.feature .slide-media img,
.block.feature .thumb-media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.block.feature .swiper-button-next,
.block.feature .swiper-button-prev {
  color: #eee;
}
.block.feature .card03 {
  overflow: hidden;
  width: 98%;
  margin: 0 auto;
}
.block.feature .card03 .swiper {
  overflow: visible;
}
.block.feature .card03 .swiper-button-prev,
.block.feature .card03 .swiper-button-next {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  margin: auto;
}
.block.feature .card03 .swiper-button-prev::before,
.block.feature .card03 .swiper-button-next::before {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: var(--box-shadow-dark);
}
.block.feature .card03 .swiper-button-prev::after,
.block.feature .card03 .swiper-button-next::after {
  border-color: #fff;
}
.block.feature .card03 .slide {
  overflow: hidden;
  transition: var(--transition), opacity 1s;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}
.block.feature .card03 .slide-media {
  padding-top: 62.5%;
}
.block.feature .card03 .slide-media img {
  height: calc(100% + 16px);
  transform: translateY(-16px);
  border-radius: 4px;
}
.block.feature .card03 .slide-content {
  padding: 1.6rem 0 0 0;
}
.block.feature .card03 .slide-date {
  font-size: 1.4rem;
  line-height: 1;
  display: block;
  color: var(--color-theme);
}
.block.feature .card03 .slide-title {
  line-height: 1.6;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 3.2em;
  font-size: 1.8rem;
  margin-top: 1.2rem;
}
.block.feature .card03 .swiper-slide:not(.swiper-slide-visible) .slide {
  pointer-events: none;
  opacity: 0.3;
}
.block.news .inner {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.block.news .inner .news__head {
  width: 260px;
  border-right: 1px solid #333;
}
.block.news .inner .news__head .tl {
  font-family: "Noto Serif JP", serif;
  font-size: 4.4rem;
  line-height: 1;
  margin-bottom: 2rem;
}
.block.news .inner .news__head button {
  display: block;
  border-radius: 9999px;
  border: 1px solid #333;
  font-family: "Noto Serif JP", serif;
  padding: 0.4rem 4rem;
}
.block.news .inner .news__head button:hover {
  background: #eee;
  transition: 0.3s;
}
.block.news .inner .nesw__list {
  width: 740px;
  display: block;
  border-left: 1px solid #333;
}
.block.news .inner li {
  margin-bottom: 2.4rem;
}
.block.news .inner li:first-child {
  margin-top: 0rem;
}
.block.news .inner li:last-child {
  margin-bottom: 0rem;
}
.block.news .inner li .date {
  padding: 0 2.4rem;
}
.block.news .inner li a {
  padding: 0.4rem 1rem;
  border-radius: 12px;
}
.block.news .inner li a:hover {
  opacity: 0.8;
  transition: 0.3s;
  background-color: #eee;
}
.block.items {
  width: 100%;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
}
.block.items h2 {
  font-family: "Noto Serif JP", serif;
  text-align: center;
  padding: 6.4rem 0;
}
.block.items .inner {
  width: 1024px;
  margin: 0 auto;
  display: flex;
}
.block.items .inner .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block.items .inner .item img {
  width: 240px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  border-radius: 4px;
}
.block.items .inner .item span {
  text-align: center;
  padding: 0.4rem 0 2.4rem;
}
.block.items .inner .item button {
  display: block;
  border-radius: 9999px;
  border: 1px solid #333;
  padding: 0.4rem 4rem;
  font-family: "Noto Serif JP", serif;
}
.block.items .inner .item button:hover {
  background: #eee;
  transition: 0.3s;
}
.block.sns {
  width: 100%;
  padding: 6.4rem 0;
  position: relative;
  z-index: 400;
}
.block.sns #slide_snap {
  width: 100%;
  max-width: 100%;
  position: relative;
}
.block.sns #slide_snap .circle {
  width: 40%;
  height: 60%;
  -webkit-clip-path: inset(0 0 round 9999px 9999px 9999px 9999px);
          clip-path: inset(0 0 round 9999px 9999px 9999px 9999px);
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.block.sns #slide_snap img {
  -o-object-fit: cover;
     object-fit: cover; /* IE: not support */
  width: 100%;
  height: 100%;
}
.block.sns .inner {
  width: 100%;
  display: flex;
}
.block.sns .inner .circle {
  width: 240px;
  height: 320px;
  -webkit-clip-path: inset(0 0 round 9999px 9999px 9999px 9999px);
          clip-path: inset(0 0 round 9999px 9999px 9999px 9999px);
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.block.sns .sns__tl {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}
.block.sns .sns__tl img {
  width: 283px;
}
.block.sns .inner {
  display: flex;
}
.block.sns .sns__txt {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  text-align: center;
  line-height: 3.2rem;
}
.block.store {
  width: 100%;
  background: #dedede;
  border-radius: 40px;
  padding: 32rem 0 12rem;
  position: relative;
  z-index: 300;
  margin-top: -32rem;
}
.block.store .store__name {
  width: 1024px;
  margin: 0 auto 8rem;
  font-family: "Noto Serif JP", serif;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.block.store .store__name h2 {
  font-size: 7.7rem;
  margin-bottom: 0.4rem;
  text-wrap: nowrap;
}
.block.store .store__name .area {
  font-size: 2rem;
  text-align: center;
}
.block.store .inner {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.block.store .inner .store__info ul {
  margin-bottom: 1.6rem;
}
.block.store .inner .store__info ul .name {
  font-weight: 600;
}
.block.store .inner .store__info ul li {
  padding-bottom: 0.8rem;
}

.footer {
  width: 100%;
  background: #434343;
  border-radius: 40px;
  color: #f8f8f8;
  padding: 8.8rem 0 7.2rem;
}
.footer .inner {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer .footer__info .store {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}
.footer .footer__info .sns ul {
  display: flex;
  width: 100px;
  justify-content: space-between;
}
.footer .footer__nav {
  display: flex;
  width: 420px;
  justify-content: space-between;
  margin-bottom: 12rem;
}
.footer .footer__nav ul li {
  margin-bottom: 1rem;
}
.footer .footer__nav ul li:first-child {
  font-weight: 600;
  margin-bottom: 1.6rem;
}
.footer .footer__nav ul li a:hover {
  text-decoration: underline;
}
.footer .footer__subnav {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer .footer__subnav .nav {
  width: 480px;
}
.footer .footer__subnav .nav ul {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
}
.footer .footer__subnav .nav ul a:hover {
  text-decoration: underline;
}
.footer .footer__subnav .copyright {
  font-size: 1.4rem;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
/*# sourceMappingURL=global.css.map */