@import "./ress";
@import "./var";

html {
    font-size: 62.5%;
    scroll-padding-top: 90px;
}

body {
    font-family: $font-jp-sans;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    color: $color-black;
    background-color: $default-color;
    font-size: #{(16 / 10)}rem;
}

img {
    max-width: 100%;
}

img[src$=".svg"] {
    width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

// header
.header {
    width: 100%;
    //height: #{(110 / 10)}rem;
    height: #{(90 / 10)}rem;
    background: $color-white;
    position: sticky;
    top: 0;
    left: 0;
    padding: #{(13 / 10)}rem #{(40 / 10)}rem 0;
    z-index: 3000;
    margin: #{(5 / 10)}rem 0 #{(5 / 10)}rem;

    /*@at-root .small-header & {
		height: #{(90 / 10)}rem;
		padding: #{(18 / 10)}rem 0 0;
	}*/

    &__inner {
        width: 1024px;
        margin: 0 auto;
        position: relative;
    }
    &__logo {
        position: absolute;
        margin-top: #{(16 / 10)}rem;
    }
    &__gnav {
        position: absolute;
        display: flex;
        margin-left: #{(220 / 10)}rem;
        margin-top: #{(20 / 10)}rem;
        font-family: $font-jp-serif;
        li {
            display: inline-block;
            list-style: none;
            padding-right: #{(20 / 10)}rem;
            &:last-child {
                padding-right: 0;
            }
            a{
                display: block;
                padding: .4rem 1rem;
                border-radius: 12px;
                &:hover{
                    opacity: .8;
                    transition: .3s;
                    background-color: rgb(211, 211, 211);
                }
            }
        }
    }
    &__subnav {
        position: absolute;
        display: flex;
        margin-top: #{(24 / 10)}rem;
        right: 0;
        li {
            display: inline-block;
            list-style: none;
            padding-left: #{(20 / 10)}rem;
            &:last-child {
                padding-left: 0;
            }
        }
    }
}

// top-contents
.block {
    &.mv {
        .swiper {
            width: 100%;
            height: 500px;
        }
    }
    &.news {
        
    }
    &.items {
        
    }
    &.sns {
        .inner{
            display: flex;
        }
    }
    &.store {
        
    }
}



// footer
.footer {
    &__inner {
        color: red;
    }
}

.circle {
    width: 240px;
    height: 320px;
    clip-path: inset(0 0 round 9999px 9999px 9999px 9999px);
    object-fit: cover;
    position: relative;
}

// lenis
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}
