@import "./ress";
@import "./var";

html {
    font-size: 62.5%;
    scroll-padding-top: 90px;
}

body {
    font-family: $font-jp-sans;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    color: $color-black;
    background-color: $default-color;
    font-size: #{(16 / 10)}rem;
}

img {
    max-width: 100%;
}

img[src$=".svg"] {
    width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

// header
.header {
    width: 100%;
    //height: #{(110 / 10)}rem;
    height: #{(110 / 10)}rem;
    background: $color-white;
    position: sticky;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    padding: 20px;
    top: 0;
    left: 0;
    padding: #{(22 / 10)}rem #{(40 / 10)}rem 0;
    z-index: 3000;
    // margin: #{(5 / 10)}rem 0 #{(5 / 10)}rem;

    /*@at-root .small-header & {
		height: #{(90 / 10)}rem;
		padding: #{(18 / 10)}rem 0 0;
	}*/

    &__inner {
        width: 1024px;
        margin: 0 auto;
        position: relative;
    }
    &__logo {
        position: absolute;
        width: 200px;
        margin-top: #{(14 / 10)}rem;
    }
    &__gnav {
        position: absolute;
        display: flex;
        margin-left: #{(220 / 10)}rem;
        margin-top: #{(16 / 10)}rem;
        font-family: $font-jp-sans;
        font-weight: 600;
        li {
            display: inline-block;
            list-style: none;
            padding-right: #{(20 / 10)}rem;
            &:last-child {
                padding-right: 0;
            }
            a {
                display: block;
                padding: 0.4rem 1rem;
                border-radius: 12px;
                &:hover {
                    opacity: 0.8;
                    transition: 0.3s;
                    background-color: $color-light-gray2;
                }
            }
        }
    }
    &__subnav {
        position: absolute;
        display: flex;
        width: 240px;
        justify-content: right;
        margin-top: #{(20 / 10)}rem;
        right: 0;
        li {
            display: inline-block;
            list-style: none;
            padding-left: #{(20 / 10)}rem;
            &:last-child {
                // padding-left: 0;
            }
        }
        img {
            width: 24px;
            &:hover {
                opacity: 0.8;
                transition: 0.3s;
            }
        }
    }
}

// top-contents
.block {
    padding-bottom: #{(80 / 10)}rem;
    &.mv {
        width: 100%;
        height: 600px;
        margin: 0 auto;
        padding-top: #{(24 / 10)}rem;
        padding-bottom: #{(80 / 10)}rem;
        // position: relative;
        .txt {
            width: 100%;
            position: absolute;
            z-index: 400;
            top: 340px;
            color: #fff;
            mix-blend-mode: exclusion;
            .contents {
                // width: 1024px;
                margin: 0 auto;
                position: absolute;
                left: 2vw;
                font-weight: 600;
                font-family: "Noto Sans JP", serif;
                // font-family: $font-jp-serif;
                span {
                    display: block;
                }
                .month {
                    font-size: #{(20 / 10)}rem;
                    display: block;
                }
                .tl {
                    // position: absolute;
                    margin-top: #{(-16 / 10)}rem;
                    margin-left: #{(-4 / 10)}rem;
                    mix-blend-mode: overlay; /* オーバーレイを指定 */
                    // color: $color-black;
                    color: #f8f8f8;
                    font-size: #{(56 / 10)}rem;
                    display: block;
                    mix-blend-mode: overlay; /* オーバーレイを指定 */
                }
                .sub {
                    padding-bottom: #{(24 / 10)}rem;
                    font-size: #{(16 / 10)}rem;
                }
                button {
                    display: block;
                    // margin-top: #{(56 / 10)}rem;
                    border-radius: 9999px;
                    border: 1px solid $color-black;
                    font-family: $font-jp-serif;
                    padding: 0.4rem 4rem;
                    &:hover {
                        background: $color-light-gray2;
                        transition: 0.3s;
                    }
                }
            }
        }
        .swiper {
            position: absolute;
            max-width: 1024px;
            width: 80%;
            height: auto;
            right: 0;
            z-index: 300;
            .swiper-slide {
                height: 640px;
                -webkit-backface-visibility: hidden;
                -webkit-transform: translate3d(0, 0, 0);
                img {
                    object-fit: cover; /* IE: not support */
                    width: 100%;
                    height: 100%;
                    border-radius: 4px 0 0 4px;
                }
            }
            // width: calc(70%);
            // height: 400px;
            // height: auto;
            right: 0;
            z-index: 100;
        }
    }
    &.feature {
        margin-top: #{(120 / 10)}rem;
        .slide-media,
        .thumb-media {
            position: relative;
            overflow: hidden;
        }
        .slide-media img,
        .thumb-media img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
        .swiper-button-next,
        .swiper-button-prev {
            color: $color-light-gray2;
        }

        .card03 {
            overflow: hidden;
            width: 98%;
            margin: 0 auto;
        }
        .card03 .swiper {
            overflow: visible;
        }
        .card03 .swiper-button-prev,
        .card03 .swiper-button-next {
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        .card03 .swiper-button-prev::before,
        .card03 .swiper-button-next::before {
            background-color: rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: var(--box-shadow-dark);
            box-shadow: var(--box-shadow-dark);
        }
        .card03 .swiper-button-prev::after,
        .card03 .swiper-button-next::after {
            border-color: #fff;
        }

        .card03 .slide {
            overflow: hidden;
            -webkit-transition:
                var(--transition),
                opacity 1s;
            transition:
                var(--transition),
                opacity 1s;
            border-radius: 4px;
            -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
        }
        .card03 .slide-media {
            padding-top: 62.5%;
        }
        .card03 .slide-media img {
            height: calc(100% + 16px);
            -webkit-transform: translateY(-16px);
            transform: translateY(-16px);
            border-radius: 4px;
        }
        .card03 .slide-content {
            padding: 1.6rem 0 0 0;
        }
        .card03 .slide-date {
            font-size: 1.4rem;
            line-height: 1;
            display: block;
            color: var(--color-theme);
        }
        .card03 .slide-title {
            line-height: 1.6;
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            height: 3.2em;
            font-size: 1.8rem;
            margin-top: 1.2rem;
        }
        .card03 .swiper-slide:not(.swiper-slide-visible) .slide {
            pointer-events: none;
            opacity: 0.3;
        }
    }
    &.news {
        .inner {
            width: 1024px;
            margin: 0 auto;
            display: flex;
            // justify-content: space-between;
            .news__head {
                width: 240px;
                border-right: 1px solid $color-black;
                .tl {
                    font-family: $font-jp-serif;
                    font-size: 4.4rem;
                    line-height: 1;
                    margin-bottom: 2rem;
                }
                button {
                    display: block;
                    border-radius: 9999px;
                    border: 1px solid $color-black;
                    font-family: $font-jp-serif;
                    padding: 0.4rem 4rem;
                    &:hover {
                        background: $color-light-gray2;
                        transition: 0.3s;
                    }
                }
            }
            .nesw__list {
                width: calc(1024px - 284px);
                display: block;
                border-left: 1px solid $color-black;
            }
            li {
                margin-bottom: 2.4rem;
                &:first-child {
                    margin-top: 0rem;
                }
                &:last-child {
                    margin-bottom: 0rem;
                }
                .date {
                    padding: 0 2.4rem;
                }
                a {
                    padding: 0.4rem 1rem;
                    border-radius: 12px;
                    &:hover {
                        opacity: 0.8;
                        transition: 0.3s;
                        background-color: $color-light-gray2;
                    }
                }
            }
        }
    }
    &.items {
        width: 100%;
        border-bottom: 1px solid $color-black;
        border-top: 1px solid $color-black;
        h2 {
            font-family: $font-jp-serif;
            text-align: center;
            padding: #{(64 / 10)}rem 0;
        }
        .inner {
            width: 1024px;
            margin: 0 auto;
            display: flex;
            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: 240px;
                    height: 320px;
                    object-fit: cover;
                    position: relative;
                    border-radius: 4px;
                }
                span {
                    text-align: center;
                    padding: #{(4 / 10)}rem 0 #{(24 / 10)}rem;
                }
                button {
                    display: block;
                    border-radius: 9999px;
                    border: 1px solid $color-black;
                    padding: 0.4rem 4rem;
                    font-family: $font-jp-serif;
                    &:hover {
                        background: $color-light-gray2;
                        transition: 0.3s;
                    }
                }
            }
        }
    }
    &.sns {
        width: 100%;
        padding: #{(64 / 10)}rem 0;
        position: relative;
        z-index: 400;
        #slide_snap {
            width: 100%;
            max-width: 100%;
            position: relative;
            .circle {
                width: 40%;
                height: 60%;
                // max-width: 240px;
                // max-height: 320px;
                clip-path: inset(0 0 round 9999px 9999px 9999px 9999px);
                object-fit: cover;
                position: relative;
            }
            img {
                object-fit: cover; /* IE: not support */
                width: 100%;
                height: 100%;
            }
        }
        .inner {
            width: 100%;
            display: flex;
            .circle {
                width: 240px;
                height: 320px;
                clip-path: inset(0 0 round 9999px 9999px 9999px 9999px);
                object-fit: cover;
                position: relative;
            }
        }
        .sns__tl {
            display: flex;
            justify-content: center;
            padding-bottom: #{(40 / 10)}rem;
            img {
                width: 283px;
            }
        }
        .inner {
            display: flex;
        }
        .sns__txt {
            display: flex;
            justify-content: center;
            padding-top: #{(40 / 10)}rem;
            text-align: center;
            line-height: #{(32 / 10)}rem;
        }
    }
    &.store {
        width: 100%;
        background: #dedede;
        border-radius: 40px;
        padding: #{(320 / 10)}rem 0 #{(120 / 10)}rem;
        position: relative;
        z-index: 300;
        margin-top: #{(-320 / 10)}rem;
        .store__name {
            width: 1024px;
            margin: 0 auto #{(80 / 10)}rem;
            font-family: $font-jp-serif;
            display: flex;
            flex-direction: column;
            justify-items: center;
            h2 {
                font-size: #{(77 / 10)}rem;
                margin-bottom: #{(14 / 10)}rem;
                text-wrap: nowrap;
                width: 100%;
            }
            .area {
                font-size: #{(20 / 10)}rem;
                text-align: center;
            }
        }
        .inner {
            width: 1024px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            .store__info {
                ul {
                    margin-bottom: #{(16 / 10)}rem;
                    .name {
                        font-weight: 600;
                    }
                    li {
                        padding-bottom: #{(8 / 10)}rem;
                    }
                }
            }
            .store__map{
                width: 400px;
            }
        }
    }
}

// footer
.footer {
    width: 100%;
    background: #434343;
    border-radius: 40px;
    color: $color-white;
    padding: #{(88 / 10)}rem 0 #{(72 / 10)}rem;
    .inner {
        width: 1024px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .footer__info {
        .store {
            font-size: #{(20 / 10)}rem;
            font-weight: 600;
            margin-bottom: #{(24 / 10)}rem;
        }
        .sns {
            ul {
                display: flex;
                width: 100px;
                justify-content: space-between;
            }
        }
    }
    .footer__nav {
        display: flex;
        width: 420px;
        justify-content: space-between;
        margin-bottom: #{(120 / 10)}rem;
        ul {
            li {
                &:first-child {
                    font-weight: 600;
                    margin-bottom: #{(16 / 10)}rem;
                }
                margin-bottom: #{(10 / 10)}rem;
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .footer__subnav {
        width: 1024px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .nav {
            width: 480px;
            ul {
                font-size: #{(14 / 10)}rem;
                display: flex;
                justify-content: space-between;
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .copyright {
            font-size: #{(14 / 10)}rem;
        }
    }
}

// lenis
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}
