---
import "../styles/reset.css";
import "../styles/global.css";
const pageTitle = "UrbanBlues";
---

<html lang="ja">

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <title>{pageTitle}</title>
</head>

<body>
  <header class="header">
    <div class="header__inner">
      <div class="header__logo">
        <h1>{pageTitle}</h1>
      </div>
      <div class="header__gnav">
        <ul>
          <li><a href="#">ALL</a></li>
          <li><a href="#">WOMEN</a></li>
          <li><a href="#">MEN</a></li>
          <li><a href="#">KIDS</a></li>
        </ul>
      </div>
      <div class="header__subnav">
        <ul>
          <li>
            <a href="#"><img src="https://moriportfolio-denim.netlify.app/images/img_header_ico_search.svg"
                alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="https://moriportfolio-denim.netlify.app/images/img_header_ico_heart.svg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="https://moriportfolio-denim.netlify.app/images/img_header_ico_bag.svg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="https://moriportfolio-denim.netlify.app/images/img_header_ico_person.svg"
                alt="" /></a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <div class="block mv">
    <div class="mv__slide">
      <!-- Slider main container -->
      <div class="txt">
        <div class="contents">
          <span class="month">MONTHLY</span>
          <span class="tl">202406 A HOLE FOREST</span>
          <span class="sub">新しいデニムコレクションを完全受注生産で<br />お届けします。</span>
          <button class="btn__view">MORE</button>
        </div>
      </div>
      <div class="swiper swiper01">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <img src="https://moriportfolio-denim.netlify.app/images/img_mv_slide01.jpg" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="https://moriportfolio-denim.netlify.app/images/img_mv_slide02.jpg" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="https://moriportfolio-denim.netlify.app/images/img_mv_slide04.jpg" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="https://moriportfolio-denim.netlify.app/images/img_mv_slide03.jpg" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="https://moriportfolio-denim.netlify.app/images/img_mv_slide05.jpg" alt="" />
          </div>
        </div>
        <!-- <div class="swiper-pagination swiper-pagination-white"></div>  -->
      </div>
    </div>
  </div>

  <div class="block feature">
    <div id="demo03" class="card03 l-section">
      <div class="l-inner">
        <div class="swiper">
          <div class="swiper-wrapper">
            <a href="#" class="swiper-slide">
              <article class="slide">
                <div class="slide-media img-cover">
                  <img src="https://moriportfolio-denim.netlify.app/images/img_feature01.jpg" alt="" />
                </div>
                <div class="slide-content">
                  <time class="slide-date" datetime="2021-12-01">特集：エコスタイル</time>
                  <h2 class="slide-title">
                    自然派素材を使った肌に優しいファッションアイテム特集。
                  </h2>
                </div>
              </article>
            </a>
            <a href="#" class="swiper-slide">
              <article class="slide">
                <div class="slide-media img-cover">
                  <img src="https://moriportfolio-denim.netlify.app/images/img_feature02.jpg" alt="" />
                </div>
                <div class="slide-content">
                  <time class="slide-date" datetime="2021-12-01">ブルーの魅力</time>
                  <h2 class="slide-title">
                    ブルーを基調にしたスタイリング提案とコーディネート術を解説。
                  </h2>
                </div>
              </article>
            </a>
            <a href="#" class="swiper-slide">
              <article class="slide">
                <div class="slide-media img-cover">
                  <img src="https://moriportfolio-denim.netlify.app/images/img_feature03.jpg" alt="" />
                </div>
                <div class="slide-content">
                  <time class="slide-date" datetime="2021-12-01">デニムラバー</time>
                  <h2 class="slide-title">デニム好き必見の最新トレン
                    ドとコーディネート術。
                  </h2>
                </div>
              </article>
            </a>
            <a href="#" class="swiper-slide">
              <article class="slide">
                <div class="slide-media img-cover">
                  <img src="https://moriportfolio-denim.netlify.app/images/img_feature04.jpg" alt="" />
                </div>
                <div class="slide-content">
                  <time class="slide-date" datetime="2021-12-01">ヴィンテージ特集</time>
                  <h2 class="slide-title">
                    ヴィンテージテイストを取り入れた最新ファッションアイテム特集
                  </h2>
                </div>
              </article>
            </a>
            <a href="#" class="swiper-slide">
              <article class="slide">
                <div class="slide-media img-cover">
                  <img src="https://moriportfolio-denim.netlify.app/images/img_feature05.jpg" alt="" />
                </div>
                <div class="slide-content">
                  <time class="slide-date" datetime="2021-12-01">季節のスタイル</time>
                  <h2 class="slide-title">
                    春、夏、秋、冬それぞれの季節に合わせたスタイルを提案
                  </h2>
                </div>
              </article>
            </a>
            <a href="#" class="swiper-slide">
              <article class="slide">
                <div class="slide-media img-cover">
                  <img src="https://moriportfolio-denim.netlify.app/images/img_feature06.jpg" alt="" />
                </div>
                <div class="slide-content">
                  <time class="slide-date" datetime="2021-12-01">スタイリングのコツと裏技</time>
                  <h2 class="slide-title">
                    デニムを使ったスタイリングのコツや裏技を紹介
                  </h2>
                </div>
              </article>
            </a>
            <a href="#" class="swiper-slide">
              <article class="slide">
                <div class="slide-media img-cover">
                  <img src="https://moriportfolio-denim.netlify.app/images/img_feature07.jpg" alt="" />
                </div>
                <div class="slide-content">
                  <time class="slide-date" datetime="2021-12-01">サステナビリティとエコファッション</time>
                  <h2 class="slide-title">環境に優しいデニムの製造</h2>
                </div>
              </article>
            </a>
          </div><!-- /swiper-wrapper -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div><!-- /swiper -->
      </div>
    </div>
  </div>

  <div class="block news">
    <div class="inner">
      <div class="news__head">
        <div class="tl">NEWS</div>
        <button class="view-more">MORE</button>
      </div>
      <div class="news__list">
        <ul>
          <li>
            <span class="date">2024年5月31日</span><a href="#" class="txt">夏にぴったりの新作登場！鮮やかなブルーが目を引くコレクション
              今年の夏、…</a>
          </li>
          <li>
            <span class="date">2024年5月31日</span><a href="#" class="txt">エコフレンドリーなファッション：環境に優しい素材を使った最新ライン
              環境…</a>
          </li>
          <li>
            <span class="date">2024年5月31日</span><a href="#" class="txt">注目のスタイリング提案：ブルーを基調にしたコーディネート術
              スタイリング…</a>
          </li>
          <li>
            <span class="date">2024年5月31日</span><a href="#" class="txt">セール情報：人気アイテムが最大50%オフ！人気アイテムが期間限定で最大50…</a>
          </li>
          <li>
            <span class="date">2024年5月31日</span><a href="#" class="txt">お客様の声：Urban Bluesの愛用者インタビュー Urban
              Bluesを愛用している…</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="block items">
    <h2>ALL ITEMS</h2>
    <div class="inner">
      <div class="item">
        <a href="#"><img src="https://moriportfolio-denim.netlify.app/images/all_img01.jpg" alt="" /></a>
        <span>202406 HOLE（DEEPGREEN） ¥39,600 (tax in)</span>
        <button class="view-more">BUY NOW</button>
      </div>
      <div class="item">
        <a href="#"><img src="https://moriportfolio-denim.netlify.app/images/all_img02.jpg" alt="" /></a>
        <span>202406 HOLE（DEEPGREEN） ¥39,600 (tax in)</span>
        <button class="view-more">BUY NOW</button>
      </div>
      <div class="item">
        <a href="#"><img src="https://moriportfolio-denim.netlify.app/images/all_img03.jpg" alt="" /></a>
        <span>202406 HOLE（DEEPGREEN） ¥39,600 (tax in)</span>
        <button class="view-more">BUY NOW</button>
      </div>
      <div class="item">
        <a href="#"><img src="https://moriportfolio-denim.netlify.app/images/all_img04.jpg" alt="" /></a>
        <span>202406 HOLE（DEEPGREEN） ¥39,600 (tax in)</span>
        <button class="view-more">BUY NOW</button>
      </div>
    </div>
  </div>

  <div class="block sns">
    <div class="sns__tl">
      <img src="https://moriportfolio-denim.netlify.app/images/img_snapLogo.png" alt="" />
    </div>
    <div class="inner"></div>
    <div id="slide_snap">
      <div class="swiper-container swiper swiper03">
        <ul class="swiper-wrapper">
          <!-- スライドする画像 -->
          <li class="swiper-slide circle">
            <a href="#"><img src="https://moriportfolio-denim.netlify.app/images/img_snap01.jpg" /></a>
          </li>
          <li class="swiper-slide circle">
            <a href="#"><img src="https://moriportfolio-denim.netlify.app/images/img_snap02.jpg" /></a>
          </li>
          <li class="swiper-slide circle">
            <a href="#"><img src="https://moriportfolio-denim.netlify.app/images/img_snap03.jpg" /></a>
          </li>
          <li class="swiper-slide circle">
            <a href="#"><img src="https://moriportfolio-denim.netlify.app/images/img_snap04.jpg" /></a>
          </li>
          <li class="swiper-slide circle">
            <a href="#"><img src="https://moriportfolio-denim.netlify.app/images/img_snap05.jpg" /></a>
          </li>
          <li class="swiper-slide circle">
            <a href="#"><img src="https://moriportfolio-denim.netlify.app/images/img_snap06.jpg" /></a>
          </li>
          <li class="swiper-slide circle">
            <a href="#"><img src="https://moriportfolio-denim.netlify.app/images/img_snap07.jpg" /></a>
          </li>
          <li class="swiper-slide circle">
            <a href="#"><img src="https://moriportfolio-denim.netlify.app/images/img_snap08.jpg" /></a>
          </li>
          <li class="swiper-slide circle">
            <a href="#"><img src="https://moriportfolio-denim.netlify.app/images/img_snap09.jpg" /></a>
          </li>
          <!-- /スライドする画像 -->
        </ul>
        <!-- <div class="swiper-button-prev"></div> -->
        <!-- <div class="swiper-button-next"></div> -->
        <!-- <div class="swiper-pagination swiper-pagination-white"></div>ページネーション(dots) -->
      </div>
    </div>
    <div class="sns__txt">
      あなたのデニムスタイルスタイル👖を大募集！！<br />Instagramで
      「#UrbanBlues」 のハッシュタグをつけて投稿してください🙏🏻<br />スタッフがセレクトして、掲載いたします！️
    </div>
  </div>

  <div class="block store">
    <div class="store__name">
      <h2>Urban Blues General Store</h2>
      <span class="area">MIYOSHI, TOKUSHIMA</span>
    </div>
    <div class="inner">
      <div class="store__info">
        <ul>
          <li class="name">店舗情報</li>
          <li>〇〇県〇〇市〇〇町1-2-345 △△ビル2F</li>
          <li>(〇〇駅より徒歩5分)</li>
        </ul>
        <ul>
          <li>TEL:051-123-456</li>
          <li>営業時間:12:00〜20:00</li>
          <li>定休日:不定休</li>
        </ul>
      </div>
      <div class="store__map">
        <img src="https://moriportfolio-denim.netlify.app/images/img_snapMap.svg" alt="" />
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="inner">
      <div class="footer__info">
        <div class="store">Urban Blues Online Store</div>
        <div class="sns">
          <ul>
            <li>
              <a href="#"><img src="https://moriportfolio-denim.netlify.app/images/img_footerLogoInstagram.svg"
                  alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="https://moriportfolio-denim.netlify.app/images/img_footerLogoX.svg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="https://moriportfolio-denim.netlify.app/images/img_footerLogoFB.svg" alt="" /></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__nav">
        <ul>
          <li>探す</li>
          <li><a href="#">ブランド</a></li>
          <li><a href="#">アクティビティ</a></li>
        </ul>
        <ul>
          <li>詳しく知る</li>
          <li><a href="#">はじめての方へ</a></li>
          <li><a href="#">ショッピングガイド</a></li>
          <li><a href="#">ショップリスト</a></li>
          <li><a href="#">ショップブログ</a></li>
        </ul>
        <ul>
          <li>企業情報</li>
          <li><a href="#">会社概要</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__subnav">
      <div class="nav">
        <ul>
          <li><a href="#">お問い合わせ</a></li>
          <li><a href="#">利用規約</a></li>
          <li><a href="#">プライバシーポリシー</a></li>
          <li><a href="#">特定商取引法に基づく表示</a></li>
        </ul>
      </div>
      <div class="copyright">
        Copyright Urban Blues GROUP. ALL RIGHT RESERVED.
      </div>
    </div>
  </footer>

  <script is:inline src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script is:inline src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.19/bundled/lenis.min.js"></script>
  <script is:inline src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
  <script is:inline>
    const lenis = new Lenis();

    function raf(time) {
      lenis.raf(time);
      requestAnimationFrame(raf);
    }

    requestAnimationFrame(raf);

    const swiper01 = new Swiper(".swiper01", {
      effect: "fade", // フェードモードにする（デフォルトは 'slide'）
      fadeEffect: {
        crossFade: true, // クロスフェードを有効にする（フェードモードの場合 true 推奨）
      },
      allowTouchMove: false,
      slidesPerView: 1, // コンテナ内に表示させるスライド数（CSSでサイズ指定する場合は 'auto'）
      spaceBetween: 0, // スライド間の余白（px）
      centeredSlides: true, // アクティブなスライドを中央に配置する

      loop: true, // 無限ループさせる

      speed: 500, // スライドアニメーションのスピード（ミリ秒）

      autoplay: {
        // 自動再生させる
        delay: 6000, // 次のスライドに切り替わるまでの時間（ミリ秒）
        disableOnInteraction: false, // ユーザーが操作しても自動再生を止めない
        waitForTransition: false, // アニメーションの間も自動再生を止めない（最初のスライドの表示時間を揃えたいときに）
      },

      watchSlidesProgress: true, // スライドの進行状況を監視する

      pagination: {
        el: ".swiper-pagination", // ページネーション要素のクラス
        clickable: true, // クリックによるスライド切り替えを有効にする
        type: "bullets", // 'bullets'（デフォルト） | 'fraction' | 'progressbar'
      },
    });

    const card = new Swiper(".card03 .swiper", {
      slidesPerView: 1,
      spaceBetween: 16,
      loop: true,
      loopAdditionalSlides: 1,
      speed: 1000,
      autoplay: {
        delay: 4000,
        disableOnInteraction: false,
      },
      grabCursor: true,
      watchSlidesProgress: true,
      navigation: {
        nextEl: ".card03 .swiper-button-next",
        prevEl: ".card03 .swiper-button-prev",
      },
      breakpoints: {
        600: {
          slidesPerView: 2,
        },
        1025: {
          slidesPerView: 5,
          spaceBetween: 32,
        },
      },
    });

    const swiper03 = new Swiper(".swiper03", {
      slidesPerView: 5, //画像を何枚表示するか
      spaceBetween: 10, //何ピクセル画像の間隔をあけるか
      centeredSlides: true, //見切らせたい場合メイン画像をセンターにもってくるか
      //自動再生する場合
      autoplay: {
        delay: 3000, //3秒後に次の画像に代わる
      },
      loop: true, //最後の画像までいったらループする
      //ページネーションをつける場合
    });
  </script>
</body>

</html>