---
import "../styles/reset.css";
import "../styles/global.css";
// import "../styles/swiper.min.css";
const pageTitle = "UrbanBlues";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <header class="header">
      <div class="header__inner">
        <div class="header__logo"><h1>{pageTitle}</h1></div>
        <div class="header__gnav">
          <ul>
            <li><a href="#">ALL</a></li>
            <li><a href="#">WOMEN</a></li>
            <li><a href="#">MEN</a></li>
            <li><a href="#">KIDS</a></li>
          </ul>
        </div>
        <div class="header__subnav">
          <ul>
            <li><a href="#">search</a></li>
            <li><a href="#">recommend</a></li>
            <li><a href="#">bag</a></li>
            <li><a href="#">mypage</a></li>
          </ul>
        </div>
      </div>
    </header>

    <div class="block mv">
      <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide"><img src="https://portfolio-mori.netlify.app/images/test.jpg" alt=""></div>
          <div class="swiper-slide"><img src="https://portfolio-mori.netlify.app/images/test.jpg" alt=""></div>
          <div class="swiper-slide"><img src="https://portfolio-mori.netlify.app/images/test.jpg" alt=""></div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>
      <div class="slide">
        <div class="contents">
          MONTHLY 202405 A HOLE ―FOREST―
          新しいデニムコレクションを完全受注生産で お届けします。
          <!-- Slider main container -->

          <button class="btn__view">MORE</button>
        </div>
      </div>
    </div>

    <div class="block news">
      <div class="inner"></div>
    </div>

    <div class="block items">
      <div class="inner"></div>
    </div>

    <div class="block sns">
      <div class="inner">
        <img
          class="circle"
          src="https://images.unsplash.com/photo-1603722796411-de70d5b992e3?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
        />
      </div>
    </div>

    <div class="block store">
      <div class="inner"></div>
    </div>

    <footer class="footer">
      <div class="inner"></div>
    </footer>

    <script>
      const lenis = new Lenis();

      function raf(time) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }

      requestAnimationFrame(raf);

      const swiper = new Swiper(".swiper", {
        // Optional parameters
        loop: true,

        // If we need pagination
        pagination: {
          el: ".swiper-pagination",
        },

        // Navigation arrows
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },

        // And if we need scrollbar
        scrollbar: {
          el: ".swiper-scrollbar",
        },
      });
    </script>

    <script src="../scripts/swiper-bundle.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.19/bundled/lenis.min.js"
    ></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"
    ></script> -->
  </body>
</html>
