---
import "../styles/reset.css";
import "../styles/global.css";
const pageTitle = "UrbanBlues";
---

<html lang="ja">

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="target-densitydpi=device-dpi, width=1060px, maximum-scale=1.0, user-scalable=yes">
  <meta name="generator" content={Astro.generator} />
  <title>{pageTitle}</title>
</head>

<body>
  <header class="header">
    <div class="header__inner">
      <div class="header__logo">
        <h1><img src="https://portfolio-mori.netlify.app/images/global/logo.svg"></h1>
      </div>
      <div class="header__gnav">
        <ul>
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#works">WORKS</a></li>
          <li><a href="#contact">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </header>

  <div class="mv">
    <img src="https://portfolio-mori.netlify.app/images/global/mv.jpg" alt="">
  </div>

  <div class="ttl" id="about">ABOUT</div>
  <div class="about">
    <div class="about__me">
      <div class="about__img">
        <img src="https://portfolio-mori.netlify.app/images/global/me.jpg" alt="">
      </div>
      <div class="about__txt">
        <p>徳島県出身</p>
        <p>
          専門学校卒業後、印刷会社でDTPオペレーター、Web制作会社で
          Webデザイナーとして勤めたのちにフリーランスのWebデザイナー
          Webディレクターと して活動
        </p>
        <p>現在は企業内のWebデザイナーとして従事。</p>
      </div>
    </div>
    <div class="about__skills">
      <div class="inner">
        <img src="https://portfolio-mori.netlify.app/images/global/icon _edit.svg" alt="">
        <div class="ttl">
          <em>ディレクション</em>
          <span>DIRECTION</span>
        </div>
        <p>お客様のご要望を伺い、現状の問題を見つけ、最適なプランを作成します。Webサイト構築は事前の準備がとても重要です。必要なものと不要なものを判断し、効果的なWebサイトの基盤を作ります。</p>
      </div>

      <div class="inner">
        <img src="https://portfolio-mori.netlify.app/images/global/icon _keyboard.svg" alt="">
        <div class="ttl">
          <em>デザイン</em>
          <span>DESIGN</span>
        </div>
        <p>ヒアリングに基づいてデザインを作成します。使いやすく、目的を達成できるデザインを心がけています。ユーザーフレンドリーなインターフェースを提供し、最適な提案を行います。</p>
      </div>

      <div class="inner">
        <img src="https://portfolio-mori.netlify.app/images/global/icon _mouse.svg" alt="">
        <div class="ttl">
          <em>コーディング</em>
          <span>CODING</span>
        </div>
        <p>デザインの意図を理解し、適切な動きや効果を取り入れます。スマートフォン対応、WordPressを使った更新しやすいサイト、Javascriptを用いた動きのあるサイトなど、幅広く対応しています。</p>
      </div>
    </div>
  </div>

  <div class="ttl" id="works">WORKS</div>
  <div class="works">
    <div class="works__inner">
      <a href="https://portfolio-mori.netlify.app/denim" target="_blank"><img
          src="https://portfolio-mori.netlify.app/images/global/img-works01.jpg" alt=""></a>
      <em>サンプルサイト（アパレル）</em>
      <p>レスポンシブデザインでの構築</p>
    </div>
    <div class="works__inner">
      <a href="https://www.kamada.co.jp/feature/tableware2024" target="_blank"><img
          src="https://portfolio-mori.netlify.app/images/global/img-works02.jpg" alt=""></a>
      <em>制作事例（LP）</em>
    </div>
    <div class="works__inner">
      <a href="https://www.tosareha.ac.jp/" target="_blank"><img
          src="https://portfolio-mori.netlify.app/images/global/img-works03.jpg" alt=""></a>
      <em>制作事例（専門学校）</em>
      <p>Wordpress、レスポンシブデザインでの構築</p>
    </div>
    <div class="works__inner">
      <a href="http://shimanto-unagih.com/" target="_blank"><img
          src="https://portfolio-mori.netlify.app/images/global/img-works04.jpg" alt=""></a>
      <em>制作事例（食品）</em>
      <p>Wordpress、レスポンシブデザインでの構築</p>
    </div>
    <div class="works__inner">
      <a href="https://aokikensetsu.com/" target="_blank"><img
          src="https://portfolio-mori.netlify.app/images/global/img-works05.jpg" alt=""></a>
      <em>制作事例（ハウスメーカー）</em>
      <p>レスポンシブデザインでの構築</p>
    </div>
    <div class="works__inner">
      <a href="http://www.losinn.club/" target="_blank"><img
          src="https://portfolio-mori.netlify.app/images/global/img-works06.jpg" alt=""></a>
      <em>制作事例（ホテル）</em>
      <p>Wordpress、レスポンシブデザインでの構築</p>
    </div>
    <div class="works__inner">
      <a href="https://sr-nagoya-office.com/" target="_blank"><img
          src="https://portfolio-mori.netlify.app/images/global/img-works07.jpg" alt=""></a>
      <em>制作事例（事業会社）</em>
      <p>Wordpress、レスポンシブデザインでの構築</p>
    </div>
    <div class="works__inner">
      <a href="http://www.miyamotoduct.co.jp/" target="_blank"><img
          src="https://portfolio-mori.netlify.app/images/global/img-works08.jpg" alt=""></a>
      <em>制作事例（事業会社）</em>
      <p>レスポンシブデザインでの構築</p>
    </div>
    <div class="works__inner">
      <a href="https://msco.co.jp/" target="_blank"><img
          src="https://portfolio-mori.netlify.app/images/global/img-works09.jpg" alt=""></a>
      <em>制作事例（事業会社）</em>
      <p>レスポンシブデザインでの構築</p>
    </div>
    <div class="works__inner">
      <a href="http://haramaru.gr.jp/" target="_blank"><img
          src="https://portfolio-mori.netlify.app/images/global/img-works10.jpg" alt=""></a>
      <em>制作事例（漁業）</em>
      <p>Wordpress、レスポンシブデザインでの構築</p>
    </div>
    <div class="works__inner">
      <a href="https://portfolio-mori.netlify.app/sample/coffee-pc.jpg" target="_blank"><img
          src="https://portfolio-mori.netlify.app/images/global/img-works11.jpg" alt=""></a>
      <em>デザインサンプル（コーヒー店）</em>
      <p><a href="https://portfolio-mori.netlify.app/sample/coffee-pc.jpg" target="_blank">【PC】</a><br><a
          href="https://portfolio-mori.netlify.app/sample/coffee-sp.jpg" target="_blank">【SP】</a></p>
    </div>
    <div class="works__inner">
      <a href="https://portfolio-mori.netlify.app/sample/socks-pc.jpg" target="_blank"><img
          src="https://portfolio-mori.netlify.app/images/global/img-works12.jpg" alt=""></a>
      <em>デザインサンプル（アパレル）</em>
      <p><a href="https://portfolio-mori.netlify.app/sample/socks-pc.jpg" target="_blank">【PC】</a><br><a
          href="https://portfolio-mori.netlify.app/sample/socks-sp.jpg" target="_blank">【SP】</a></p>
    </div>
    <div class="works__inner">
      <a href="https://portfolio-mori.netlify.app/sample/food-pc.jpg" target="_blank"><img
          src="https://portfolio-mori.netlify.app/images/global/img-works13.jpg" alt=""></a>
      <em>デザインサンプル（寿司店）</em>
      <p><a href="https://portfolio-mori.netlify.app/sample/food-pc.jpg" target="_blank">【PC】</a><br><a
          href="https://portfolio-mori.netlify.app/sample/food-sp.jpg" target="_blank">【SP】</a></p>
    </div>
    <div class="works__inner">
      <a href="https://portfolio-mori.netlify.app/sample/watch-pc.jpg" target="_blank"><img
          src="https://portfolio-mori.netlify.app/images/global/img-works14.jpg" alt=""></a>
      <em>デザインサンプル（時計店）</em>
      <p><a href="https://portfolio-mori.netlify.app/sample/watch-pc.jpg" target="_blank">【PC】</a><br><a
          href="https://portfolio-mori.netlify.app/sample/watch-sp.jpg" target="_blank">【SP】</a></p>
    </div>
    <!-- <div class="works__inner">
      <a href="" target="_blank"><img src="https://portfolio-mori.netlify.app/images/global/img-works03-1.jpg"
          alt=""></a>
      <em>サンプルサイト（アパレル）</em>
      <p>Wordpress、レスポンシブデザインでの構築</p>
    </div> -->
  </div>

  <div class="ttl" id="contact">CONTACT</div>
  <div class="contact">
    <span>ourohbird@gmail.com</span>
  </div>

  <footer class="footer">
    <div class="inner">
      <ul>
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#works">WORKS</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
      <small>&copy; Mori Kazuya All rights reserved.</small>
    </div>
  </footer>

  <script is:inline src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.19/bundled/lenis.min.js"></script>
  <script is:inline src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
  <script is:inline src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollToPlugin.min.js"></script>
  <script is:inline>
    const lenis = new Lenis();

    function raf(time) {
      lenis.raf(time);
      requestAnimationFrame(raf);
    }

    requestAnimationFrame(raf);

    const h = document.getElementsByClassName('header')[0];
    gsap.utils.toArray('a[href^="#"]').forEach(function (a) {
      a.addEventListener("click", function (e) {
        e.preventDefault();
        gsap.to(window, {
          duration: 1,
          ease: 'power4.out',
          scrollTo: {
            y: e.target.getAttribute("href"),
            autoKill: false,
            offsetY: h.offsetHeight, //ヘッダーの高さをセット
          }
        });
      });
    });
  </script>
</body>

</html>