---
import "../styles/reset.css";
import "../styles/global.css";
const pageTitle = "UrbanBlues";
---

<html lang="ja">

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="target-densitydpi=device-dpi, width=1060px, maximum-scale=1.0, user-scalable=yes">
  <meta name="generator" content={Astro.generator} />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <title>{pageTitle}</title>
</head>

<body>
  <header class="header">
    <div class="header__inner">
      <div class="header__logo">
        <h1><img src="https://portfolio-mori.netlify.app/images/global/logo.svg"></h1>
      </div>
      <div class="header__gnav">
        <ul>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">WORKS</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
      </div>
      <div class="header__subnav">
        <ul>
          <li>
            <a href="#"><img src="https://portfolio-mori.netlify.app/images/denim/img_header_ico_search.svg"
                alt="" /></a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <div class="mv">
    <img src="https://portfolio-mori.netlify.app/images/global/mv.jpg" alt="">
  </div>

  <div class="about">
    <img src="https://portfolio-mori.netlify.app/images/global/me.jpg" alt="">
    <div class="about__txt">
      徳島県出身

      専門学校卒業後、印刷会社でDTPオペレーター、Web制作会社で
      Webデザイナーとして勤めたのちにフリーランスのWebデザイナー
      Webディレクターと して活動、

      現在は企業内のWebデザイナーとして従事。

    </div>
    <div class="about__skils">
      <img src="https://portfolio-mori.netlify.app/images/global/icon _edit.svg" alt="">
      ディレクション
      DIRECTION
      お客様のご要望を伺い、現状の問題を見つけ、最適なプランを作成します。Webサイト構築は事前の準備がとても重要です。必要なものと不要なものを判断し、効果的なWebサイトの基盤を作ります。

      <img src="https://portfolio-mori.netlify.app/images/global/icon _keyboard.svg" alt="">
      デザイン
      DESIGN
      ヒアリングに基づいてデザインを作成します。使いやすく、目的を達成できるデザインを心がけています。ユーザーフレンドリーなインターフェースを提供し、最適な提案を行います。

      <img src="https://portfolio-mori.netlify.app/images/global/icon _mouse.svg" alt="">
      コーディング
      CODING
      デザインの意図を理解し、適切な動きや効果を取り入れます。スマートフォン対応、WordPressを使った更新しやすいサイト、Javascriptを用いた動きのあるサイトなど、幅広く対応しています。
    </div>
  </div>

  <div class="works">
    <img src="https://portfolio-mori.netlify.app/images/global/img-works01.jpg" alt="">
    サンプルサイト（アパレル）
    レスポンシブデザインでの構築
  </div>

  <div class="contact">

  </div>

  <footer class="footer">
    <div class="inner">
      <ul>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">WORKS</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </div>
    © Mori Kazuya All rights reserved.
  </footer>

  <script is:inline src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.19/bundled/lenis.min.js"></script>
  <script is:inline src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
  <script is:inline src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
  <script is:inline>
    const lenis = new Lenis();

    function raf(time) {
      lenis.raf(time);
      requestAnimationFrame(raf);
    }

    requestAnimationFrame(raf);

    gsap.registerPlugin(ScrollTrigger);

    gsap.utils.toArray(".news, .items h2, .items .inner,.sns__tl, #slide_snap, .sns__txt, .store__name, .store .inner").forEach(target => {
      gsap.from(target, {
        scrollTrigger: {
          trigger: target,
          start: 'top 75%',
          toggleActions: 'play none none reverse',
        },
        y: 30,
        opacity: 0,
        duration: 0.6,
      });
    });
    const animations = [
      { selector: ".header", props: { y: -30 }, delay: 0.4 },
      { selector: ".mv__slide .txt", props: { x: -30 }, delay: 0.8 },
      { selector: ".swiper01", props: { x: 0 }, delay: 1.2 },
      { selector: ".feature", props: { x: 0 }, delay: 1.8 },
    ];

    // animations.forEach(animation => {
    //   gsap.utils.toArray(animation.selector).forEach(target => {
    //     gsap.from(target, {
    //       stagger: { each: 0.1224 },
    //       ...animation.props,
    //       opacity: 0,
    //       delay: animation.delay,
    //       duration: 0.6,
    //     });
    //   });
    // });
  </script>
</body>

</html>